{% load static %}
<html>
    <head>
        <title>Danny's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Danny's Blog</a></h1>
        </div>
                  {% block content %}
                    {% for post in posts %}
                        <div class="post">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                  {% endblock %}
    </body>
</html>
